body{
    font-family: lato, sans-serif;
    width: 100%;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 5px 10px 15px;
    transition: width 6s, height 2s, background-color 2s, transform 2s;
    text-align: left;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: chocolate;
    width:100%;
    height: 200px;
    padding-top: 50px;

}
h1, footer{
    text-align: center;
}
li{
   
        text-align: center;
        text-decoration: none;
        width: 200px;
        border: rgb(99, 94, 94) solid 5px;
        padding-top: 20px;
        border-radius: 10px;
        box-shadow: 5px 5px;
        background: white;
       
}
a{
     text-decoration: none;

}