img {
    max-width: 40%;
    height: 180px;
    float: left;
  }
  .hike{
      width:100%;
      height:700px;
  }
  h2 {
    text-align: center;
    background-color: aqua;
    border: solid black ;
  }
  .details{
      float: right;

  }

  ul li {
    list-style: none;

  }
