/*ul {

    display: block;
    
    width: 100px;
    height: 200px;
}*/

.todolist{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
}
.li {
list-style: none;


}

.addList input{


    margin-right: 200px;
   
}

#toinput{
    border-radius: 10px;

}
.addList {
display: flex;
flex-direction: row;
  max-width: 50px;

  margin-left: 10px;
  margin-left:50px;
 

}
.button{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    justify-content: space-around;
}

#inputContainer {
    display: flex;
    flex-direction: row;
}

ul li.checked {
    text-decoration: line-through;
}



button {
    width: 20%;
  
    border-radius: 20px;
}

header {
    font-family: cursive;
    font-size: x-large;
    text-align: center;
}

li {
    padding: 10px;
}

#MYLIST {
    padding: 7px;
    line-height: 10px;
}

.close {
    float: right;
    background-color: black;
    padding: 7px;
    line-height: 10px;
    color: white;
}

.checked {
    text-decoration: line-through;
}
/*----*/
body {
    background-color: rgb(214, 210, 169);
}

.container {
    background-color: white;
    width: 40%;
    margin: auto;
    padding: 5%;
    border-radius: 15px;
}

input {
    background-color: rgb(255, 255, 255);
    line-height: 50px;
    border-radius: 7px;
    width: 400px;
    margin-left: 5px;
}

h2 {
    margin: 5px;
}

.addBtn {
    
    font-weight: 800;
    margin: auto;
 font-family: cursive;
    background-color: rgb(183, 108, 16);
   
}

.close {
    border: black solid 1px;
    font-family: cursive;
    border-radius: 5px;
    width: 7%;
    text-align: center;
    font-size: large;
    font-weight: 800;
    background-color: rgb(123, 126, 89);
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    line-height: 25px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;

 
}
li :hover {
    background: bisque ;
}

p {
    display: none;
    font-style: italic;
    font-size: large;
    color: rgb(211, 105, 57);
}

#inputContainer {
    display: flex;
    flex-direction: row;
}

ul li.checked {
    text-decoration: line-through;
}

.close:hover {
    background: khaki;
}

#bottomRow {
    display: flex;
    flex-direction: row;
    height: 50px;
    flex-wrap: wrap;
}

#count {
    font-size: small;
    background-color: rgb(255, 255, 255);
    width: 10%;

    border-radius: 10px;
    border-style: none;
    height: 15px;
}

#button {
    width: 50px;
    border-radius: 10px;
}

header {
    font-family: cursive;
    font-size: x-large;
    text-align: center;
}

a{
    text-align: center;
}

footer{
    text-align: center;
}