main{
    height: 65vh;
  }
  .keys {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    font-size: 8px;
    border: 4px solid black;
    border-radius: 5px;
    margin: .75rem;
    font-size: .75rem;
    padding: .75rem 5px;
    transition: all .07s ease;
    width: 7.5rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .25rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 3rem;
  }
  
  .sound {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }
  
  .home {
    margin-bottom: 150px;
  }